@use '../action-states' as util;

// Sizes button
.small-button {
  height: var(--md-spacing-8);
  padding: 0 var(--md-spacing-4);
}

.medium-button {
  height: var(--md-spacing-9);
  padding: 0 var(--md-spacing-5);
}

.large-button {
  height: var(--md-spacing-10);
  padding: 0 var(--md-spacing-6);
}

// Sizes icon-button
.small-icon-button {
  height: var(--md-spacing-8);
  width: var(--md-spacing-8);
}

.medium-icon-button {
  height: var(--md-spacing-9);
  width: var(--md-spacing-9);
}

.large-icon-button {
  height: var(--md-spacing-10);
  width: var(--md-spacing-10);
}

// Types button
.primary-button {
  &.filled {
    background-color: var(--md-color-primary);
    color: var(--md-color-on-primary);

    &.loading {
      color: var(--md-color-on-primary);

      &.filled:after {
        background-color: var(--md-color-primary);
      }
    }

    &.round-button {
      @include util.action-states(var(--md-color-on-primary), var(--md-corner-full))
    }
    &.rounded-square-button {
      @include util.action-states(var(--md-color-on-primary), var(--md-corner-medium))
    }
    &.square-button {
      @include util.action-states(var(--md-color-on-primary), var(--md-corner-small))
    }
  }

  &.tonal {
    background-color: var(--md-color-primary-container);
    color: var(--md-color-on-primary-container);

    &.loading {
      color: var(--md-color-on-primary-container);

      &.tonal:after {
        background-color: var(--md-color-primary-container);
      }
    }

    &.round-button {
      @include util.action-states(var(--md-color-on-primary-container), var(--md-corner-full))
    }
    &.rounded-square-button {
      @include util.action-states(var(--md-color-on-primary-container), var(--md-corner-medium))
    }
    &.square-button {
      @include util.action-states(var(--md-color-on-primary-container), var(--md-corner-small))
    }
  }
}

.secondary-button {
  &.filled {
    background-color: var(--md-color-secondary);
    color: var(--md-color-on-secondary);

    &.loading {
      color: var(--md-color-on-secondary);

      &.filled:after {
        background-color: var(--md-color-secondary);
      }
    }

    &.round-button {
      @include util.action-states(var(--md-color-on-secondary), var(--md-corner-full))
    }
    &.rounded-square-button {
      @include util.action-states(var(--md-color-on-secondary), var(--md-corner-medium))
    }
    &.square-button {
      @include util.action-states(var(--md-color-on-secondary), var(--md-corner-small))
    }
  }

  &.tonal {
    background-color: var(--md-color-secondary-container);
    color: var(--md-color-on-secondary-container);

    &.loading {
      color: var(--md-color-on-secondary-container);

      &.tonal:after {
        background-color: var(--md-color-secondary-container);
      }
    }

    &.round-button {
      @include util.action-states(var(--md-color-on-secondary-container), var(--md-corner-full))
    }
    &.rounded-square-button {
      @include util.action-states(var(--md-color-on-secondary-container), var(--md-corner-medium))
    }
    &.square-button {
      @include util.action-states(var(--md-color-on-secondary-container), var(--md-corner-small))
    }
  }
}

.tertiary-button {
  &.filled {
    background-color: var(--md-color-tertiary);
    color: var(--md-color-on-tertiary);

    &.loading {
      color: var(--md-color-on-tertiary);

      &.filled:after {
        background-color: var(--md-color-tertiary);
      }
    }

    &.round-button {
      @include util.action-states(var(--md-color-on-tertiary), var(--md-corner-full))
    }
    &.rounded-square-button {
      @include util.action-states(var(--md-color-on-tertiary), var(--md-corner-medium))
    }
    &.square-button {
      @include util.action-states(var(--md-color-on-tertiary), var(--md-corner-small))
    }
  }

  &.tonal {
    background-color: var(--md-color-tertiary-container);
    color: var(--md-color-on-tertiary-container);

    &.loading {
      color: var(--md-color-on-tertiary-container);

      &.tonal:after {
        background-color: var(--md-color-tertiary-container);
      }
    }

    &.round-button {
      @include util.action-states(var(--md-color-on-tertiary-container), var(--md-corner-full))
    }
    &.rounded-square-button {
      @include util.action-states(var(--md-color-on-tertiary-container), var(--md-corner-medium))
    }
    &.square-button {
      @include util.action-states(var(--md-color-on-tertiary-container), var(--md-corner-small))
    }
  }
}

// Shape
.round-button {
  border-radius: var(--md-corner-full);
}

.rounded-square-button {
  border-radius: var(--md-corner-medium);
}

.square-button {
  border-radius: var(--md-corner-small);
}

.md-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: var(--md-transition-base);
  }

  &:disabled {
    cursor: not-allowed;
    background: none;
    color: var(--md-color-on-surface);
    opacity: 0.62;

    &:after {
      background-color: var(--md-color-on-surface);
      opacity: 0.38;
    }
  }

  &.round-button:after {
    border-radius: var(--md-corner-full);
  }
  &.rounded-square-button:after {
    border-radius: var(--md-corner-medium);
  }
  &.square-button:after {
    border-radius: var(--md-corner-small);
  }
}

// Variant
.elevated {
  background-color: var(--md-color-surface-container-low);
  color: var(--md-color-primary);
  box-shadow: var(--md-elevation-layer-1);
  transition: var(--md-transition-base);

  &:disabled {
    box-shadow: none;
  }

  &.loading {
    cursor: not-allowed;
    color: var(--md-color-primary);
  }

  &.round-button {
    @include util.action-states(var(--md-color-primary), var(--md-corner-full))
  }
  &.rounded-square-button {
    @include util.action-states(var(--md-color-primary), var(--md-corner-medium))
  }
  &.square-button {
    @include util.action-states(var(--md-color-primary), var(--md-corner-small))
  }
}

.filled {
  background-color: var(--md-color-primary);
  color: var(--md-color-on-primary);
  transition: var(--md-transition-base);

  &.loading {
    cursor: not-allowed;
    background: none;
    color: var(--md-color-on-primary);

    &.filled:after {
      background-color: var(--md-color-primary);
      opacity: 0.9;
      z-index: -1;
    }
  }

  &.round-button {
    @include util.action-states(var(--md-color-on-surface-variant), var(--md-corner-full))
  }
  &.rounded-square-button {
    @include util.action-states(var(--md-color-on-surface-variant), var(--md-corner-medium))
  }
  &.square-button {
    @include util.action-states(var(--md-color-on-surface-variant), var(--md-corner-small))
  }
}

.tonal {
  background-color: var(--md-color-secondary-container);
  color: var(--md-color-on-secondary-container);
  transition: var(--md-transition-base);

  &.loading {
    cursor: not-allowed;
    background: none;
    color: var(--md-color-on-secondary-container);

    &.tonal:after {
      background-color: var(--md-color-secondary-container);
      opacity: 0.6;
      z-index: -1;
    }
  }

  &.round-button {
    @include util.action-states(var(--md-color-on-secondary-container), var(--md-corner-full))
  }
  &.rounded-square-button {
    @include util.action-states(var(--md-color-on-secondary-container), var(--md-corner-medium))
  }
  &.square-button {
    @include util.action-states(var(--md-color-on-secondary-container), var(--md-corner-small))
  }
}

.outlined {
  background: none;
  border: 1px solid var(--md-color-outline-variant);
  color: var(--md-color-on-surface-variant);
  transition: var(--md-transition-base);

  &:disabled {
    &.outlined:after {
      opacity: 0.1;
      border: 1px solid var(--md-color-on-surface-variant);
    }
  }

  &.loading {
    cursor: not-allowed;
    background: none;
    color: var(--md-color-on-surface-variant);
  }

  &.round-button {
    @include util.action-states(var(--md-color-on-surface-variant), var(--md-corner-full))
  }
  &.rounded-square-button {
    @include util.action-states(var(--md-color-on-surface-variant), var(--md-corner-medium))
  }
  &.square-button {
    @include util.action-states(var(--md-color-on-surface-variant), var(--md-corner-small))
  }
}

.text {
  background: none;
  color: var(--md-color-primary);
  transition: var(--md-transition-base);

  &.loading {
    cursor: not-allowed;
    background: none;
    color: var(--md-color-primary);

    &.text:after {
      background-color: var(--md-color-primary);
      opacity: 0.1;
      z-index: -1;
    }
  }

  &.round-button {
    @include util.action-states(var(--md-color-on-secondary-container), var(--md-corner-full))
  }
  &.rounded-square-button {
    @include util.action-states(var(--md-color-on-secondary-container), var(--md-corner-medium))
  }
  &.square-button {
    @include util.action-states(var(--md-color-on-secondary-container), var(--md-corner-small))
  }
}