@use "./reset_styles.css" as *;
@use "./base" as *;
@use './modificators' as *;
@use './animations' as *;

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--md-color-on-surface);
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
}

